{% extends 'base.html' %}


{% block body %}
    <br>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-8">

                <form method="post">
                    
                    {% csrf_token %}
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                {{ form.errors }}
                            </div>
                            <div class="col-12">
                                <div class="mb-3">
                                    <label for="{{ form.title.id_for_label }}" class="form-label">نوع الاجازة</label>
                                    {{ form.title }}
                                </div>
                            </div>
                            
                            
                            <div class='row'>
                            <div class="col"></div>
                            <div class="col-3 mt-2">
                                <button type="submit" class="btn btn-primary w-100 rounded-pill">حفظ</button>
                            </div>
                            <div class="col"></div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>



    <br>
    <br>
    <br>



{% endblock %}