{% extends 'base.html' %}


{% block body %}
    <br>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-12 col-md-8">

                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {#                    {{ form.as_p }}#}
                    <div class="container">
                        <div class="row">
                            {{ form.errors }}
                            <div class="col-12 col-md-8">
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">الاسم</label>
                                    {{ form.name }}
                                    {#                                    <input type="text" placeholder="Name" class="form-control rounded-pill"#}
                                    {#                                           id="exampleInputEmail1"#}
                                    {#                                           aria-describedby="emailHelp">#}
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="mb-3">
                                    <label for="exampleInputEmail1" class="form-label">رقم الهاتف</label>
                                    {{ form.phone }}
                                    {#                                    <input type="text" placeholder="09X XXX XX XX" class="form-control rounded-pill"#}
                                    {#                                           id="exampleInputEmail1"#}
                                    {#                                           aria-describedby="emailHelp">#}
                                </div>
                            </div>
                            <div class="col-12 col-md-8">

                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label">البريد الاكتروني</label>
                                    {{ form.email }}
                                    {#                                    <input type="email" class="form-control rounded-pill" id="exampleInputPassword1">#}
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label">رقم الخدمة (HTI, ROL)</label>
                                    {{ form.account_id }}
                                </div>
                            </div>
                            <div class="col-12 col-md-4 mb-3">
                                <label for="{{ form.contract_number.id_for_label }}" class="form-label">رقم
                                    العقد</label>
                                {{ form.contract_number }}
                            </div>
                            <div class="col-8 col-md-4 mb-3">
                                <label for="{{ form.contract_file.id_for_label }}" class="form-label">نسخة من
                                    العقد</label>
                                {{ form.contract_file }}
                            </div>
                            <div class="col-4 col-md-4 pt-3">
                                {% if account.contract_file %}

                                    <div class="btn-group w-100 mt-3" role="group" aria-label="Basic example">
                                        <a href="{{ account.file_url }}" target="_blank" type="button"
                                           class="btn btn-outline-success rounded-pill mx-1">عرض</a>
                                        {#                                <button id="removeFile" type="button" class="btn btn-outline-danger rounded-pill mx-1">حذف</button>#}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="mb-3">
                                    <label for="{{ form.start_date.id_for_label }}" class="form-label">تاريخ
                                        العقد</label>
                                    {{ form.start_date }}
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label">تاريح انتهاء العقد</label>
                                    {{ form.expire_date }}
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label">تنبيه انتهاء العقد قبل</label>
                                    {{ form.notify_expire }}
                                </div>
                            </div>

                            <div class="col-12 col-md-4">
                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label">موعد التجديد</label>
                                    {{ form.payment_date }}
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="mb-3">
                                    <label for="exampleInputPassword1" class="form-label">تنبيه بالتجديد قبل:</label>
                                    {{ form.notify_before }}
                                </div>
                            </div>
                            <div class="col-12 col-md-4">
                                <div class="mb-3">
                                    <label for="{{ form.notifications.id_for_label }}" class="form-label">التنبيه
                                        كل:</label>
                                    {{ form.notifications }}
                                </div>
                            </div>
                            <div class="col-12 col-md-4 pt-4">
                                {% if account %}
                                    <a href="{% url 'VIP:payments_list' %}?q={{ account.name }}"
                                       class="btn btn-outline-warning w-100 rounded-pill mt-2">عرض الفواتير</a>
                                {% endif %}
                            </div>
                            <div class="col-12 col-md-4 pt-4">
                                {% if account %}
                                    <a href="{% url 'VIP:delete_account' account.id %}?q={{ account.name }}"
                                       class="btn btn-outline-secondary w-100 rounded-pill mt-2">حذف الحساب</a>
                                {% endif %}
                            </div>
                            <div class="col-12 col-md-4 pt-4">
                                {% if account %}
                                    <a href="{% url 'VIP:add_payment' account.id %}"
                                       class="btn btn-outline-danger w-100 rounded-pill mt-2">اضافة فاتورة</a>
                                {% endif %}
                            </div>
                            <div class="col-4"></div>
                            <div class="col-4 mt-3">
                                {{ form.notification_sent }} تفعيل التنبيهات
                            </div>
                            <div class="col-4"></div>
                            <div class="col-12 col-md-3 mt-5">

                                <button type="submit" class="btn btn-primary w-100 rounded-pill">Save</button>
                            </div>


                        </div>
                    </div>
                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>



    <br>
    <br>
    <br>



{% endblock %}


{% block scripts %}
    <script>
        $(document).ready(function () {
            /*multiple image preview first input*/

            $("#removeFile").on("click", function () {
                $("#{{ form.contract_file.id_for_label }}").val("");
                console.log("Empty files")
            });

            /*end image preview */
        });


    </script>
{% endblock %}
