{% extends 'base.html' %}


{% block body %}
    <br/>
    <h2 class="text-center">
        {% block title %}
            <br/>
        {% endblock %}
    </h2>
    <br/>

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 mb-5">
                <div class="row">
                    <div class="col"></div>
                    <div class="col-8 col-md-6">
                        {% block search_box %}
                        <div class="w-100 border-hti border rounded-pill ">
                            
                            <form>
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-auto border-end p-0">
                                            <button type="submit" class="btn btn-light bg-white border-0 rounded-pill"
                                                    id="inputGroup-sizing-lg">بحث
                                            </button>
                                        </div>
                                        <div class="col p-0">
                                            <input id="mainSearchField" name="q" type="text" class="form-control border-0 "
                                                   value="{{ q }}"
                                                   aria-label="Sizing example input"
                                                   aria-describedby="inputGroup-sizing-lg">
                                        </div>
                                    </div>
                                </div>
                            </form>
                            
                        </div>
                        {% endblock %}
                    </div>
                    <div class="col-3 col-md-auto p-0">
                        {% block add_btn %}

                            <a href="{% block add_url %}{% endblock %}" type="submit"
                               class="btn btn-primary border-0 rounded-pill"
                               id="inputGroup-sizing-lg">+ اضافة
                            </a>
                        {% endblock %}
                    </div>
                    <div class="col"></div>
                </div>
            </div>


            {% block tabel %}

            {% endblock %}
        </div>
    </div>
    <br>
    <br/>
    <br/>
    {% include 'paginator.html' %}
    <br/>
    <br/>
    <br/>
{% endblock %}
