{% extends 'base.html' %}


{% block body %}
    <br>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-8">

                <form method="post">
                    {#                    {{ form.as_p }}#}
                    {% csrf_token %}
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                {{ form.errors }}
                            </div>
                            <div class="col-12">
                                <div class="mb-3">
                                    <label for="{{ form.name.id_for_label }}" class="form-label">اسم الجهاز</label>
                                    {{ form.name }}
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="mb-3">
                                    <label for="{{ form.ip.id_for_label }}" class="form-label">عنوان الجهاز (IP)</label>
                                    {{ form.ip }}
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="mb-3">
                                    <label for="{{ form.port.id_for_label }}" class="form-label">المنفذ (Port)</label>
                                    {{ form.port }}
                                </div>
                            </div>
                            <div class='row'>
                            <div class="col"></div>
                            <div class="col-auto">
                                <div class="mb-3">
                                {{ form.out_during_work }}
                                    <label for="{{ form.out_during_work.id_for_label }}" class="form-label">جهاز متابعة الخروج اثناء الدوام</label>
                                    
                                </div>
                            </div>
                            <div class="col"></div>
                            </div>
                            
                            <div class='row'>
                            <div class="col"></div>
                            <div class="col-3 mt-2">
                                <button type="submit" class="btn btn-primary w-100 rounded-pill">حفظ</button>
                            </div>
                            <div class="col"></div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>



    <br>
    <br>
    <br>



{% endblock %}