{% extends 'base.html' %}


{% block body %}
    <br>
    <br>
    <br>
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col-8">

                <form method="post">
                    {#                    {{ form.as_p }}#}
                    {% csrf_token %}
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                {{ form.errors }}
                            </div>
                            <div class="col-12">
                                <div class="mb-3">
                                    <label for="{{ form.name.id_for_label }}" class="form-label">اسم الموظف</label>
                                    {{ form.name }}
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="mb-3">
                                    <label for="{{ form.attendance_id.id_for_label }}" class="form-label">رقم
                                        الموظف</label>
                                    {{ form.attendance_id }}
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="mb-3">
                                    <label for="{{ form.phone.id_for_label }}" class="form-label">رقم الهاتف</label>
                                    {{ form.phone }}
                                </div>
                            </div>
                            <div class="col-3">
                                <div class="mb-3">
                                        
                                        <label for="{{ form.current_vacations.id_for_label }}" class="form-label">رصيد الاجازات الحالي</label>
                                        {{ form.current_vacations }} 
                                    </div>
                                </div>
                            <div class="col-6">
                                <div class="mb-3">
                                    <label for="{{ form.default_profile.id_for_label }}" class="form-label">الوردية</label>
                                    {{ form.default_profile }}
                                </div>
                            </div>
                            <div class="col-3">
                            <div class="mb-3">
                                    <p class="mb-4 pb-3"></p>
                                    {{ form.active }} غير فعال
                                </div>
                            </div>
                            
                            
                            <br>
                            <br>
                            <br>
                            <div class="col"></div>
                            <div class="col-3 mt-5">
                                <button type="submit" class="btn btn-primary w-100 rounded-pill">حفظ</button>
                            </div>
                            <div class="col"></div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col"></div>
        </div>
    </div>



    <br>
    <br>
    <br>



{% endblock %}